<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-API</title>
    <link rel="stylesheet" href="../public/styles/base.css">
    ​
</head>

<body>
    <header>
        <h1>Best Books!</h1>
    </header>
    <nav class="navNew">
        Google Search
    </nav>

    <form action="/searches" method="POST">

        <input type="text" name="search" placeholder="Enter a title or author"><br>
        <input type="radio" id="Title" name="title" value="title">
        
        <label for="Title">Title</label><br><br>
        <input type="radio" id="Author" name="title" value="author">
        <label for="Author">Author</label><br><br><br>
        <input type="submit" id="subbtn" value="GoogleBooks">
    </form>
</body>

</html>