/* @import 'reset.css';
@import 'modules.css';
@import 'layout.css'; */

.result{
    background-color: rgb(177, 177, 177);
    border: 0px solid black;
    border-style: none;
    background-color: rgb(68, 68, 68);
}
header{
    background-color: black;
    width: 100%;
    color: white;
    height:60px;
    font-size:30px;
}

#subbtn{
    width:200px;
    background:black;
    height: 50px;
    color: white;
}
.parent{
    /* display: flex; */
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    position: relative;
    width: 100px;
    left: 25%;
    background-color: rgb(68, 68, 68);
    /* background-color: DodgerBlue; */
  }
.child{
      box-shadow: 10px 7px 5px grey;
      /* height: 300px; */
      width: 450px;
      padding: 20px;
      background-color: rgb(214, 213, 213);
  }
img{
      border: white solid 7px;
  }
h2{
    font-weight:bolder;
}
.title{
    color: white;
}
form{
    padding: 25px;
    text-align: center;
}
body{
    background-color: rgb(161, 160, 160);
}