.parent{
  /* display: flex; */
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  position: relative;
  width: 100px;
  left: 25%;
  background-color: rgb(68, 68, 68);
  /* background-color: DodgerBlue; */
}
.child{
    box-shadow: 10px 7px 5px grey;
    /* height: 300px; */
    width: 450px;
    padding: 20px;
    background-color: rgb(214, 213, 213);

  /* background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px; */
}
img{
    border: white solid 7px;
}